/* start resset */
body, input, textarea {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;;
}

body {
    /*background-color: #2A3F54;*/
    background-color: #F7F7F7;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dd, dl, ol {
    margin: 0;
    padding: 0;
}
/* end reset */

.none {
    display: none;
}

.block {
    display :block;
}

.right {
    float: right;
}


/* start frame */
#allPanel {
    height: auto;
    min-height: 100%;
    position: relative;
}


.footer {
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 5px 0 5px;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 160px;
}

/* end frame */

/* start top-nav */
#top {
    height: 50px;
    position: fixed;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .15);
    width: 100%;
    margin-left: 160px;
    top: 0;
    background-color: #EDEDED;
    z-index: 80;
}

#top > a {
    background: #1fb5ad;
    float: left;
    width: 240px;
    height: 50px;
    position: relative;
    color: #F7F7F7;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

#top > .right a {
    color: #555;
    line-height: 32px;
    margin: 8px 10px;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 100px;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
}

#top > .right a:hover {
    color: #333;
}

#top .avatar {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-size: cover;
    background: no-repeat center center;
    float: left;
    margin: 3px 6px 0 0;
}

/* end top-nav */



/* end preference nav-bar*/

#main-container {
    margin: 50px 0 0 160px;
    padding: 15px;
    min-height: 100px;
    background-color: #F7F7F7;
}

.row-12{
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 15px;
    margin-bottom: 5px;
}