
/* start first tab */
#nav-bar {
    height: 100%;
    min-height: 468px;
    width: 160px;
    position: fixed;
    top: 0;
    background-color: #2A3F54;
    overflow: hidden;
}

#nav-bar ul {
    list-style: none;
    width: 180px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#nav-bar li {
    margin-left: 0px;
    margin-bottom: 5px;
}

#nav-bar li > div > a,
#nav-bar .nav-bar-parent{
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 0 28px 8px;
    line-height: 18px;
    height: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}



#nav-bar a:hover,
#nav-bar .nav-bar-parent:hover,
#nav-bar a.nav-bar-current,
#nav-bar .nav-bar-current{
    color:#FFFFFF;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    border-left: 5px solid #1ABB9C;
}

#nav-bar .nav-bar-right-span{
    float: right;
    margin-right: 30px;
}

#nav-bar .nav-bar-left-span{
    margin-left: 5px;
    margin-right: 10px;
}
#nav-bar .nav-bar-current .nav-bar-left-span{
    margin-left: 0px;
}


#nav-bar li li {
    border-bottom: 0;
}


#nav-bar li li > div > a {
    padding: 10px 0 25px 30px;
    line-height: 15px;
    height: 15px;
}



/* end first nav-bar */

/* start sub nav-bar */
#nav-bar .sub-nav-bar {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

#nav-bar .sub-nav-bar ul {
    list-style: none outside none;
    margin-right: 24px;
}

#nav-bar .sub-nav-bar li {
    margin: 0;
}

#nav-bar .sub-nav-bar li a {
    display: block;
    line-height: 18px;
    text-decoration: none;
    margin-left: 10px;
}

#nav-bar .sub-nav-bar a:hover,
#nav-bar .sub-nav-bar a.sub-nav-bar-current,
#nav-bar .sub-nav-bar .sub-nav-bar-current{
    color:#FFFFFF;
    margin-left: 5px;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    border-left: 2px solid #1ABB9C;
}

#nav-bar .sub-nav-bar-main {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 0 0 4px 4px;
}