
/* start first tab */
#nav-bar {
    height: 100%;
    min-height: 468px;
    width: 230px;
    position: fixed;
    top : 0;
    padding-top: 20px;
    background-color: #2A3F54;
    overflow: hidden;
}

#nav-bar #nav-bar-header{

}


#nav-bar #nav-bar-menu{

}

#nav-bar #nav-bar-footer{
    bottom: 0;
    clear: both;
    display: block;
    padding: 5px 0 0;
    position: fixed;
    width: 230px;
    background: #2A3F54;
    z-index: 999;
}

#nav-bar-menu ul {
    list-style: none;
    width: 240px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#nav-bar-menu li {
    margin-left: 0px;
    margin-bottom: 5px;
}

#nav-bar-menu li > div > a,
#nav-bar-menu .nav-bar-parent{
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 0 28px 8px;
    line-height: 18px;
    height: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#nav-bar-menu >ul >li >div:hover{
    color:#FFFFFF;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
}


#nav-bar-menu .nav-bar-current{
    color:#FFFFFF;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
}

#nav-bar-menu .nav-bar-current{
    border-left: 3px solid #1ABB9C;
}

#nav-bar-menu .nav-bar-right-span{
    float: right;
    margin-right: 30px;
}

#nav-bar-menu .nav-bar-left-span{
    margin-left: 5px;
    margin-right: 10px;
}
#nav-bar-menu .nav-bar-current .nav-bar-left-span{
    margin-left: 0px;
}


#nav-bar-menu li li {
    border-bottom: 0;
}


#nav-bar-menu li li > div > a {
    padding: 10px 0 25px 30px;
    line-height: 15px;
    height: 15px;
}



/* end first nav-bar */

/* start sub nav-bar */
#nav-bar-menu .sub-nav-bar {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

#nav-bar-menu .sub-nav-bar ul {
    list-style: none outside none;
    margin-right: 24px;
}

#nav-bar-menu .sub-nav-bar li {
    margin: 0;
}

#nav-bar-menu .sub-nav-bar li:before
{
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}
#nav-bar-menu .sub-nav-bar li:after
{
    background: #425668;
    bottom: auto;
    content: "";
    height: 36px;
    left: 26px;
    margin-top: -34px;
    position: absolute;
    right: auto;
    width: 1px;
    z-index: 1;
    border-radius: 50%;

}

#nav-bar-menu .sub-nav-bar li a {
    display: block;
    line-height: 18px;
    text-decoration: none;
    margin-left: 10px;
}

#nav-bar-menu .sub-nav-bar li div:hover{
    background: rgba(255,255,255,.05);
}

#nav-bar-menu .sub-nav-bar .sub-nav-bar-current{
    color:#FFFFFF;
    margin-left: 0;
    background: rgba(255,255,255,.05);
}


#nav-bar-menu .sub-nav-bar-main {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 0 0 4px 4px;
}